*{
	margin : 0px;
	padding: 0px;
}
header{
	background-color : #35B5E2;
	height: 105px;
}
header img{
	float:left;
}
header h1{
	padding: 10px;
	text-align : center;
	font-size :4em;
	color: #211D61;
	font-family:calibri;
}
nav ul{
	background-color : #006CB7;
}
nav ul li {
	display : inline-block;
	padding : 10px;
	
}
nav ul li a{
	color : white;
}

nav ul li a:link,
nav ul li a:visited{
	text-decoration : none;
	padding : 10px;
	transition : all 0.2s;
}

nav ul li a:hover,
nav ul li a:active{
	background-color : #409ad5;
}
nav .search{
	float: right;
	border: none;
	border-radius: 5px;
	width: 20%;
	height: 20px;
	margin-right: 70px;
	margin-top: 10px;
	text-indent: 5px;

}
.centerArea{
	margin :10px;
	border : 1px solid black;
}
#lside,
#rside{	
	width : 11%;
	height : 700px;
	display: inline-block;
    float: left;
}


#bodyarea{
	margin :10px;
	width : 75%;
	height : 700px;
	background-color : #EFEEF0;
	border : 1px solid black;
	border-radius : 5px;
	display: inline-block;
    float: left;
	
}
aside{
	border : 1px solid black;
	border-radius : 5px;
}


















